name: "test_test"
on:
  push:
    branches: ["main"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.9
    - name: Install dependencies
      run: pip install --no-cache-dir -r ./requirements.txt
  deploy:
    runs-on: ubuntu-latest
    needs: [ build ]
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.9
  
    - name: Install dependencies
      run: pip install --no-cache-dir -r ./requirements.txt
    
    - name: Install sshpass
      run: sudo apt-get install sshpass -y

    - name: Deploy to server
      run: 
        sshpass -p "The2ndlaw" ssh clevtech@193.106.99.68 -p 54337 "cd /home/clevtech/Documents/contest/test_test; git pull; docker-compose up down; docker-compose up -d --build"
